# Python cache
__pycache__/
*.py[cod]

# Virtual environments
venv/
env/
Lib/
Scripts/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# VS Code
.vscode/